<!DOCTYPE html>
<html>
<head>
    <title>AutoPDFForge</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
    <script src="{{url_for('static', filename='scripts/index.js')}}"></script>

</head>
<body>
    <header>
        <h1 id="header_logo">
            <a href="/" >AutoPDFForge</a>
        </h1>
    </header>
    <main>



        <div id="center_div">
            <p style="font-size: 2.25em; font-weight: 700; margin-bottom: 8px; margin-top: 0px;">Create PDF</p>
            <p style="font-size: 1.2em; font-weight: 400; margin-bottom: 50px;">Create PDF files quickly and easily with AutoPDFForge</p>
            <p style="color: #919191;  margin-bottom: 15px;">How do you want to create PDF files?</p>
            <div id="functions">
                <button class="function-buttons" id="convert_f">
                    <span>Convert</span>
                    <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
                      <path d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"/></svg>
                </button>
                <button class="function-buttons" id="webconvert_f">
                    <span>Web Convert</span>
                    <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
                      <path d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"/></svg>
                </button>
                <button class="function-buttons" id="merge_f">
                    <span>Merge</span>
                    <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
                      <path d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"/></svg>
                </button>
                <button class="function-buttons" id="split_f">
                    <span>Split</span>
                    <svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
                      <path d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"/></svg>
                </button>

            </div>
        </div>


    </main>
    <div id="Progress_Status">
        <div id="myprogressBar"><span id="progressBarText">Opening 0%</span></div>
    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="https://github.com/kisellsn"><i class="icon ion-social-github"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/">Home</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                <li class="list-inline-item">
                    {% if user_authenticated %}
                        <a href="{{ url_for('logout') }}">LogOut</a>
                    {% else %}
                        <a href="{{ url_for('login') }}">LogIn</a>
                    {% endif %}

                </li>
            </ul>


            <p class="copyright">AutoPDFForge © 2023</p>
        </footer>
    </div>
</body>
</html>