<!DOCTYPE html>
<html>
<head>
    <title>Profile - AutoPDFForge</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/profile.css') }}">
    <script src="{{url_for('static', filename='scripts/profile.js')}}"></script>

</head>
<body>
    <header>
        <h1 id="header_logo">
            <a href="/" >AutoPDFForge</a>
        </h1>
    </header>
    <main>



        <div id="center_div">
            <p style="font-size: 1.2em; font-weight: 400; ">Profile</p>
            <p style="font-size: 2.25em; font-weight: 700; margin-bottom: 66px; margin-top: 0px;">{{ current_user.username }}</p>

            {% for file in user_files %}

                <div class="showfilebox">
                    <div class="left">
                        <span class="filetype" onclick='toggleFilePreview({{file.id}})' >
                            Pdf</span>
                        <div class="pdf_info">
                            <div class="form__group">
                              <input type="input" class="form__field_pdf" placeholder="{{file.filename}}" name="result" id="{{file.id}}" required />
                            </div>
                            <div class="size_field_pdf" >
                                <p >{{file.file_size}} mb</p>
                                <p >{{file.created_at}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="right">

                        <a class="btn-download" data-file-name="{{ file.filename }}" data-file-id="{{ file.id }}">
                            <svg width="22px" height="16px" viewBox="0 0 22 16">
                                <path d="M2,10 L6,13 L12.8760559,4.5959317 C14.1180021,3.0779974 16.2457925,2.62289624 18,3.5 L18,3.5 C19.8385982,4.4192991 21,6.29848669 21,8.35410197 L21,10 C21,12.7614237 18.7614237,15 16,15 L1,15" id="check"></path>
                                <polyline points="4.5 8.5 8 11 11.5 8.5" class="svg-out"></polyline>
                                <path d="M8,1 L8,11" class="svg-out"></path>
                            </svg>
                        </a><br>

                    </div>
                </div>
                 <div id="{{ file.id }}Preview" class="file-preview" style="display: none;">
                    <embed src="show_file/{{file.filename[0:-4]}}#scrollbar=0" type="application/pdf" width="70%" height="100%" class="file-preview-content" />
                     <button onclick="hidePreview('{{ file.id }}')">X</button>
                </div>

            {% endfor %}


        </div>
    </main>

    <div class="footer-basic">
        <footer>
            <div class="social"><a href="https://github.com/kisellsn"><i class="icon ion-social-github"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/">Home</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                 <li class="list-inline-item">
                    {% if user_authenticated %}
                        <a href="{{ url_for('logout') }}">LogOut</a>
                    {% else %}
                        <a href="{{ url_for('login') }}">LogIn</a>
                    {% endif %}
                </li>
            </ul>
            <p class="copyright">AutoPDFForge © 2023</p>
        </footer>
    </div>

</body>
</html>