<!DOCTYPE html>
<html>
<head>
    <title>Profile - AutoPDFForge</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
    <script src="{{url_for('static', filename='scripts/index.js')}}"></script>

</head>
<body>
    <header>
        <h1 id="header_logo">
            <a href="/" >AutoPDFForge</a>
        </h1>
        <a href="{{url_for('login')}}" style="color:white;">LogIn</a>
    </header>
    <main>



        <div id="center_div">
            <p style="font-size: 1.2em; font-weight: 400; margin-bottom: 50px;">Profile</p>
            <p style="font-size: 2.25em; font-weight: 700; margin-bottom: 8px; margin-top: 0px;">Your NAME</p>
            <p style="font-size: 1.2em; font-weight: 400; margin-bottom: 50px;">This is where your converted files will be stored</p>
            <a href="{{url_for('logout')}}">Press here to logout</a>


        </div>
    </main>

    <div class="footer-basic">
        <footer>
            <div class="social"><a href="https://github.com/kisellsn"><i class="icon ion-social-github"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/">Home</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                 <li class="list-inline-item">
                    {% if user_authenticated %}
                        <a href="{{ url_for('logout') }}">LogOut</a>
                    {% else %}
                        <a href="{{ url_for('login') }}">LogIn</a>
                    {% endif %}
                </li>
            </ul>
            <p class="copyright">AutoPDFForge © 2023</p>
        </footer>
    </div>

</body>
</html>