<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register - AutoPDFForge</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/register.css') }}">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="Post" action="">
        <h3>Register Here</h3>
        {{form.hidden_tag()}}
        <label>Username</label>
        {{form.username}}
        <label>Password</label>
        {{form.password}}
        {% if error_message %}
            <div class="alert alert-danger" style="font-size: small; margin-top: 5px; color: #9C3A25">
                {{ error_message }}
            </div>
        {% endif %}
        {{form.submit(class="custom-submit")}}
        <div class="social">
            <a href="/google-login" class="go"><i class="fab fa-google"></i> Google</a>
        </div>
        <div id="singup">
          <a href="{{url_for('login')}}">Already have an account? Log In</a>
        </div>


    </form>
</body>
</html>
