<!DOCTYPE html>
<html>
<head>
    <title>Split PDF - AutoPDFForge</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/split.css') }}">
    <script src="{{url_for('static', filename='scripts/split.js')}}"></script>

</head>
<body>
    <header>
        <h1 id="header_logo">
            <a href="/" >AutoPDFForge</a>
        </h1>
    </header>
    <main>



        <div id="center_div">
            <p style="font-size: 25px; margin-bottom: 9px;"><strong>Split PDF</strong></p>
            <p style="color: #919191;margin-bottom: 36px;margin-top: 0px;">Split PDF files and save split pages afterwards</p>

            <div id="dropArea">
                <div id="uploadForm">
                <form action="http://localhost:5000/split" method="POST" enctype="multipart/form-data">
                    <label id="uploadButton"><b>Choose files</b></label>
                    <input type="file" name="files[]" accept="application/.pdf, .pdf" id="fileInput" style="display: none;" autocomplete="off" multiple />
                </form>
                <p style="margin-top: 0; color: white;">... or drop files here</p>
                </div>
                <div id="previewArea">
                    <h3 class="uploaded" style="display: none;">Uploaded Documents</h3>
                    <!-- <div class="showfilebox">
                        <div class="left">
                            <span class="filetype">Pdf</span>
                            <h3>Ravi Web-pdf</h3>
                        </div>
                        <div class="right">
                            <span>&#215;</span>
                        </div>
                    </div> -->
                 </div>
            </div>



            <div style="margin-top: 20px; "><button type="submit" id="submitFilesButton" style="display: none;">Split PDF</button></div>
        </div>



    </main>
    <div id="Progress_Status">
        <div id="myprogressBar"><span id="progressBarText">Opening 0%</span></div>
    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="https://github.com/kisellsn"><i class="icon ion-social-github"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/">Home</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                 <li class="list-inline-item">
                    {% if user_authenticated %}
                        <a href="{{ url_for('logout') }}">LogOut</a>
                    {% else %}
                        <a href="{{ url_for('login') }}">LogIn</a>
                    {% endif %}
                </li>
            </ul>
            <p class="copyright">AutoPDFForge © 2023</p>
        </footer>
    </div>
</body>
</html>



