html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    height: 100%;
    min-width: 490px;
}

header {
    background-color: #333;
    color: white;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 11px;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: space-between;

}


.footer-basic {
  padding:40px 0;
  background-color:#282828;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:7px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

.list-inline{
    display:flex;
    justify-content: center;
}



#header_logo{
    margin-block-start: 0.1em;
    margin-block-end: 0em;
    color:#fff;
}
#header_logo a{
    color:#fff;
    text-decoration: none;
}








#Progress_Status {
    width: 50%;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px 0;
    display: none;
    position: fixed;
    left: 25%;
    top: 80%;
    min-width:350px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#myprogressBar {
    width: 0;
    height: 40px;
    background-color: #9C3A25;
    border-radius: 10px;
    transition: width 0.3s ease-in-out;
    position: relative;
}
#progressBarText {
    position: absolute;
    top: 0;
    width: 150px;
    color: white;
    display: inline-block;
}


#tools_button {
  background-color: #8a8a8a00;
  color: #fff;
  border: none;

  cursor: pointer;
  margin-left: 10px;
  display:flex;
  align-items: center;
  height:100%;
  border-bottom: 2px solid #bbbbbb;
  padding-bottom: 1px;

}

.icon-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
  margin-right:10px;
}

.icon-square {
  width: 3px;
  height: 3px;
  background-color:#bbbbbb;
}






